.conversion-table {
    width: 200%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nc-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 200vh; */
}
.conversion-table thead {
    background-color: #4CAF50;
    color: white;
}

.conversion-table th, .conversion-table td {
    padding: 12px 16px;
    text-align: center;
    font-weight: 500;
    color: #333;
}

.conversion-table th {
    font-size: 1em;
}

.conversion-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.conversion-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.conversion-table tbody tr:hover {

    background-color: #d1e7dd;
}

/* Column hover effect for remainder column */
.conversion-table tbody tr:hover .remainder {
    background-color: #F7C5CC; /* Highlight color for the remainder column */
    color: #333; /* Text color */
    transition: background-color 0.3s ease;
}

.conversion-table td {
    border-top: 1px solid #ddd;
    font-size: 0.95em;
}

.conversion-table th:first-child,
.conversion-table td:first-child {
    border-top-left-radius: 8px;
}

.conversion-table th:last-child,
.conversion-table td:last-child {
    border-top-right-radius: 8px;
}


/* You can also add a subtle animation to make it pop */
.highlight-remainder{
    animation: fadeIn 0.5s ease-in-out;
}

.conversion-table tbody tr:hover .integral-column {
    background-color: #eae1ab;
}

@keyframes fadeIn {
    from { background-color: #fff9e6; }
    to { background-color: #ffd966; }
}

/* Circle style for remainder values */
.remainder-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #df5762;
    color: #fff;
    font-weight: bold;
    border-radius: 50%; /* Makes it a circle */
    font-size: 0.9em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.deci {
    transition: box-shadow 0.3s ease;
}

.deci:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Creates a shadow for the popup effect */
}

